#markstable th, #markstable td {
    border: 1px solid rgba(15, 156, 221, 0.37);
}

th {
    background-color: rgba(15, 156, 221, 0.507);
}

table {
    border-collapse: collapse;
    width: 50%;
    margin: auto;
    margin-bottom: 20px;
}

#markstable {
    border-collapse: collapse;
    width: 60vw;
    margin: auto;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

h2 {
    text-align: center;
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 10vh;
}
