#menu_notices {
    box-shadow: 0 20px 100px 0 rgba(0, 0, 0, 0.301), 0 6px 20px 0 rgba(0, 0, 0, 0.301);
    border-color: black;
    margin: 5px 0px 5px 0px;
}



#content {
    margin: 10vw;
    margin-top: 4vw;
}

input, textarea {
    background-color: rgba(211, 211, 211, 0.432);
}

h2 {
    margin: 0px;
    padding: 1vw;
}