#menu_view_marks {
    box-shadow: 0 20px 100px 0 rgba(0, 0, 0, 0.301), 0 6px 20px 0 rgba(0, 0, 0, 0.301);
    border-color: black;
    margin: 5px 0px 5px 0px;
}

#markstable th, #markstable td {
    border: 1px solid rgba(142, 219, 255, 0.507);
}

#content {
    padding-top: 5vh;
}

th {
    background-color: rgba(142, 219, 255, 0.507);
}

table {
    border-collapse: collapse;
    width: 50%;
    margin: auto;
    margin-bottom: 20px;
}

#markstable {
    border-collapse: collapse;
    width: 60vw;
    margin: auto;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid rgba(142, 219, 255, 0.507);
    padding: 8px;
    text-align: left;
}

h1 {
    text-align: center;
}
