#menu_update_marks {
    box-shadow: 0 20px 100px 0 rgba(0, 0, 0, 0.301), 0 6px 20px 0 rgba(0, 0, 0, 0.301);
    border-color: black;
    margin: 5px 0px 5px 0px;
}

p {
    font-size: large;
    font-weight: bold;
    margin-top: 4vh;
    margin-bottom: 15px;
}
input {
    margin: 0px;
    padding: 0px;
    background-color: rgba(142, 219, 255, 0.507);
}
form {
    height: 30vh;
    width: 30%;
    background-color: white;
    margin: 15% 35% 5% 35%;
    padding-top: 10vh;
    border-radius: 30px;
}
body {
    background-color: rgba(15, 156, 221, 0.507);
}